configparser==3.5.0
h5py==2.7.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
networkx==2.1
numexpr==2.6.4
numpy==1.22.0
pandas==0.22.0
pandocfilters==1.4.2
pytest==3.6.0
pytest-runner==4.2
pickleshare==0.7.4
requests==2.18.4
scikit-learn==0.19.1
scikit-optimize==0.5.2
scipy==1.0.0
six==1.11.0
sklearn==0.0
tables==3.3.0
tensorboard==1.7.0
tensorflow-gpu==1.1.0
tensorflow-tensorboard==0.4.0
torch==0.4.0
torchvision==0.2.0
urllib3==1.22
virtualenv==15.2.0
